@import "./assets/scss/theme";

body {
	color: $gray-800;
}

.bg-app {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
		url("./assets/img/bg.jpg");
	background-size: cover;
	z-index: -2;
	padding: 20px;
	height: 100vh;

	@include media-breakpoint-down(md) {
		height: 100%;
		background-size: contain;
	}
}
